<!DOCTYPE html>
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex">
    <title>EN.DB</title>
</head>
<body>
    <div class="container-fluid">
        <ul class="nav nav-pills nav-fill mb-5 mt-2 bg-light">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">TOP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'eikan:index' %}">現在のチーム</a>
            </li>            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'eikan:teams' %}">チーム一覧</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'eikan:fielders' %}">野手成績一覧</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'eikan:pitchers' %}">投手成績一覧</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'eikan:games' %}">試合一覧</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">データ登録画面</a>
            </li>
        </ul>
    {% block content %} 
    {% endblock %}
    </div>
</body>
</html>