<h3 class="mt-2">投手試合結果</h3>
<table class="table table-bordered table-hover table-sm table-responsive-xl text-nowrap">
    <thead class="thead-light text-center">
        <tr>
            {% if pg == "players" %}
                <th>チーム</th>
                <th>試合</th>
            {% else %}
                <th>Player</th>
                <th>備考</th>
            {% endif %}
            <th><abbr title="先発数">GS</abbr></th>
            <th><abbr title="投球回数">PI</abbr></th>
            <th><abbr title="投球数">NP</abbr></th>
            <th><abbr title="対戦打者">TBF</abbr></th>
            <th><abbr title="被安打">H</abbr></th>
            <th><abbr title="奪三振">SO</abbr></th>
            <th><abbr title="与四死球">BBHP</abbr></th>
            <th><abbr title="失点">R</abbr></th>
            <th><abbr title="自責点">ER</abbr></th>
            <th><abbr title="暴投">WP</abbr></th>
            <th><abbr title="被本塁打">HR</abbr></th>
        </tr>
    </thead>
    <tbody class="text-right">
        {% for p in pitcher_results %}
        <tr>
            {% if pg == "players" %}
                <td class="text-center">
                {% ifchanged %}
                    <a href="{% url 'eikan:team_detail' p.game_id.team_id.pk %}">{{ p.game_id }}</a>
                {% endifchanged %}
                </td>
                <td class="text-center"><a
                        href="{% url 'eikan:game_detail' p.game_id.pk %}">{{ p.game_id.get_competition_type_display }}{{ p.game_id.get_competition_round_display|cut:"練習試合"}}</a>
                </td>
            {% else %}
                <th class="text-center">
                    <a href="{% url 'eikan:player_detail' p.player_id.pk %}">{{ p.player_id }}</a>
                </th>
                <td class="text-left">
                    {{ p.player_id.is_ob|yesno:"[OB], " }}
                    {{ p.player_id.is_active|yesno:"[現役], " }}
                    {{ p.player_id.is_genius|yesno:"[天才], " }}
                    {{ p.player_id.is_scout|yesno:"[ス], " }}
                    {{ ftr.player.is_two_way|yesno:"[二]," }}
                    {{ p.player_id.remark|default:"" }}
                </td>
            {% endif %}
            <td class="text-center">{{ p.games_started|yesno:"先発,リリーフ" }}</td>
            <td>{{ p.innings_pitched }}</td>
            <td>{{ p.number_of_pitch }}</td>
            <td>{{ p.total_batters_faced }}</td>
            <td>{{ p.hit }}</td>
            <td>{{ p.strike_out }}</td>
            <td>{{ p.bb_hbp }}</td>
            <td>{{ p.run }}</td>
            <td>{{ p.earned_run }}</td>
            <td>{{ p.wild_pitch }}</td>
            <td>{{ p.home_run }}</td>
        </tr>
        {% empty %}
        <tr>
            <td class="text-center">データなし</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
        </tr>
        {% endfor %}
    </tbody>
</table>