<h3 class="mt-2">投手成績</h3>
<table class="table table-bordered table-hover table-sm table-responsive text-nowrap">
    <thead class="thead-light text-center">
        <tr>
            {% if pg == "players" %}
                <th class="col"></th>
            {% else %}
                <th>Player</th>
                <th>備考</th>
            {% endif %}
            {% if pg == "index" %}
                <th><abbr title="前の試合">PG</abbr></th>
            {% endif %}
            <th><abbr title="登板数">G</abbr></th>
            <th><abbr title="先発数">GS</abbr></th>
            <th><abbr title="投球回数">PI</abbr></th>
            <th><abbr title="投球数">NP</abbr></th>
            <th><abbr title="対戦打者">TBF</abbr></th>
            <th><abbr title="被安打">H</abbr></th>
            <th><abbr title="奪三振">SO</abbr></th>
            <th><abbr title="与四死球">BBHP</abbr></th>
            <th><abbr title="失点">R</abbr></th>
            <th><abbr title="自責点">ER</abbr></th>
            <th><abbr title="暴投">WP</abbr></th>
            <th><abbr title="被本塁打">HR</abbr></th>
            <th><abbr title="FIP：((被本塁打*13+与四死球*3-奪三振数*2)*3)/(投球回数*3)">FIP</abbr></th>
            <th><abbr title="防御率：(自責点*9*3)/(投球回*3)">ERA</abbr></th>
            <th><abbr title="失点率：(失点*9*3)/(投球回*3)">URA</abbr></th>
            <th><abbr title="1イニングあたりに出した走者：(被安打+与四死球)*3/(投球回*3)">WHIP</abbr></th>
            <th><abbr title="1つ四球を出すまでにいくつ三振を取れるか：奪三振/与四死球">K/BB</abbr></th>
            <th><abbr title="奪三振率：(奪三振*9*3)/(投球回*3)">K/9</abbr></th>
            <th><abbr title="打者と対戦し奪三振を取る確率：奪三振/対戦打者">K%</abbr></th>
            <th><abbr title="与四死球率：(与四死球*9*3)/(投球回*3)">BB/9</abbr></th>
            <th><abbr title="打者と対戦し四死球を与える確率：四死球/対戦打者">BB%</abbr></th>
            <th><abbr title="被打率：(被安打*9*3)/(投球回*3)">H/9</abbr></th>
            <th><abbr title="打者と対戦し安打を与える確率：被安打/対戦打者">H%</abbr></th>
            <th><abbr title="被本塁打率：(被本塁打*9*3)/(投球回*3)">HR/9</abbr></th>
            <th><abbr title="打者と対戦し本塁打を与える確率：被本塁打/対戦打者">HR%</abbr></th>
            <th><abbr title="出塁した走者に得点を許さなかった割合：(安打+四死球-失点)/(安打+四死球-1.4*本塁打)">LOB%</abbr></th>
            <th><abbr title="1イニングあたりの投球数：(球数*3)/(投球回*3)">P/IP</abbr></th>
        </tr>
    </thead>