{% if request.user.is_authenticated %}
    {% if pg == 'index' %}
        <a class="btn btn-outline-primary" href="{% url 'eikan:update_current_team' %}">チーム成績更新</a>
    {% elif pg == 'team' %}
        <a class="btn btn-outline-primary" href="{% url 'eikan:update_team' pk=team_total_result.team.pk %}">チーム成績更新</a>
    {% endif %}
{% endif %}
<h3 class="mt-2">
{% if pg == 'teams' %}
    チーム一覧
{% else %}
    チーム成績
{% endif %}
</h3>
<table class="table table-bordered table-hover table-sm table-responsive-xl text-nowrap">
    <thead class="thead-light text-center">
        <tr>
            <th>年度:期間:地区</th>
            <th>方針</th>
            <th>戦績</th>
            <th>ランク</th>
            <th>勝</th>
            <th>負</th>
            <th>分</th>
            <th>得点</th>
            <th>失点</th>
            <th>得失</th>
            <th>打率</th>
            <th>OPS</th>
            <th>HR</th>
            <th>防御率</th>
            <th><abbr title="(対戦打者-被安打-与四死球-奪三振-失策)/(対戦打者-被本塁打-与四死球-奪三振)">DER</abbr></th>
            <th>コールド</th>
            <th>マモノ</th>
            <th>指名人数</th>
            <th>備考</th>
        </tr>
    </thead>
    <tbody class="text-right">
        {% if pg == 'teams' %}
            {% for team_total_result in team_total_results %}
                {% include "./_team_record_column.html" %}
            {% endfor %}
        {% else %}
            {% include "./_team_record_column.html" %}
        {% endif %}
    </tbody>
</table>