<tr>
    <th class="text-center"><a href="{% url 'eikan:team_detail' team_total_result.team.pk %}">{{ team_total_result.team }}</a></th>
    <td>{{ team_total_result.team.get_training_policy_display }}</td>
    <td>{{ team_total_result.game_record|default:"未" }}</td>
    <td>{{ team_total_result.rank|default:"未" }}</td>
    <td>{{ team_total_result.total_win }}</td>
    <td>{{ team_total_result.total_lose }}</td>
    <td>{{ team_total_result.total_draw }}</td>
    <td>{{ team_total_result.score }}</td>
    <td>{{ team_total_result.run }}</td>
    <td>{{ team_total_result.score_difference }}</td>
    <td>{{ team_total_result.batting_average }}</td>
    <td>{{ team_total_result.ops }}</td>
    <td>{{ team_total_result.hr }}</td>
    <td>{{ team_total_result.era }}</td>
    <td>{{ team_total_result.der }}</td>
    <td>{{ team_total_result.cold_game }}</td>
    <td>{{ team_total_result.mamono_count }}</td>
    <td>{{ team_total_result.team.draft_nomination }}</td>
    <td class="text-left">{{ team_total_result.team.remark|default:"" }}</td>
</tr>