{% if request.user.is_authenticated %}
    {% if pg == 'index' %}
        <a class="btn btn-outline-primary" href="{% url 'eikan:update_current_team' %}">チーム成績更新</a>
    {% elif pg == 'team' %}
        <a class="btn btn-outline-primary" href="{% url 'eikan:update_team' pk=team_total_result.team.pk %}">チーム成績更新</a>
    {% endif %}
{% endif %}
<h3 class="mt-2">チーム成績</h3>
<table class="table table-bordered table-hover table-sm table-responsive-md text-nowrap">
    <thead class="thead-light text-center">
        <tr>
            <th>年度:期間:地区</th>
            <th>勝</th>
            <th>負</th>
            <th>分</th>
            <th>得点</th>
            <th>失点</th>
            <th>得失</th>
            <th>ランク</th>
            <th>打率</th>
            <th>OPS</th>
            <th>HR</th>
            <th>防御率</th>
            <th><abbr title="(対戦打者-被安打-与四死球-奪三振-失策)/(対戦打者-被本塁打-与四死球-奪三振)">DER</abbr></th>
            <th>コールド</th>
            <th>マモノ</th>
            <th>備考</th>
        </tr>
    </thead>
    <tbody class="text-right">
        <tr>
            <th class="text-center">{{ team_total_result.team }}</th>
            <td>{{ team_total_result.total_win }}</td>
            <td>{{ team_total_result.total_lose }}</td>
            <td>{{ team_total_result.total_draw }}</td>
            <td>{{ team_total_result.score }}</td>
            <td>{{ team_total_result.run }}</td>
            <td>{{ team_total_result.score_difference }}</td>
            <td>{{ team_total_result.rank|default:"未" }}</td>
            <td>{{ team_total_result.batting_average }}</td>
            <td>{{ team_total_result.ops }}</td>
            <td>{{ team_total_result.hr }}</td>
            <td>{{ team_total_result.era }}</td>
            <td>{{ team_total_result.der }}</td>
            <td>{{ team_total_result.cold_game }}</td>
            <td>{{ team_total_result.mamono_count }}</td>
            <td class="text-left">{{ team_total_result.team.remark|default:"" }}</td>
        </tr>
    </tbody>
</table>