{% extends './_base.html' %}
{% block content %}
<h3 class="mt-2">野手成績一覧</h3>
{% if fielder_total_results %}
    <table class="table table-bordered table-hover table-sm table-responsive text-nowrap">
        <thead class="thead-light text-center">
            <tr>
                <th>Player</th>
                <th>備考</th>
                <th><abbr title="出塁率+長打率">OPS</abbr></th>
                <th><abbr title="長打率：塁打/打数">SLG</abbr></th>
                <th><abbr title="出塁率：(安打+四死球)/(打数+四死球)※犠飛を除外">OBP</abbr></th>
                <th><abbr title="打撃得点：0.44*単打+0.77*二塁打+1.12*三塁打+1.41*本塁打+0.29*四死球-0.25*(打数-安打)※盗塁を除外">BR</abbr></th>
                <th><abbr title="加重出塁率：(0.7*四死球+0.9*単打+1.3*二塁打+1.6*三塁打+2.0*本塁打)/(打数+四死球)※犠飛を除外">wOBA</abbr></th>
                <th><abbr title="(出塁率*1.8+長打率)/4">GPA</abbr></th>
                <th><abbr title="打率：安打/打数">AVG</abbr></th>
                <th><abbr title="打数">AB</abbr></th>
                <th><abbr title="得点">R</abbr></th>
                <th><abbr title="安打">H</abbr></th>
                <th><abbr title="二塁打">2B</abbr></th>
                <th><abbr title="三塁打">3B</abbr></th>
                <th><abbr title="本塁打">HR</abbr></th>
                <th><abbr title="打点">RBI</abbr></th>
                <th><abbr title="三振">SO</abbr></th>
                <th><abbr title="四死球">BB</abbr></th>
                <th><abbr title="犠打">SAC</abbr></th>
                <th><abbr title="盗塁">SB</abbr></th>
                <th><abbr title="併殺打">GDP</abbr></th>
                <th><abbr title="エラー">ER</abbr></th>
                <th><abbr title="塁打">TB</abbr></th>
                <th><abbr title="1つ三振するまでに得た四死球：四死球/三振">BB/K</abbr></th>
                <th><abbr title="四死球取得率：四死球/(打数+四死球+犠打)※犠飛を除外">BB%</abbr></th>
                <th><abbr title="出塁率-打率">IsoD</abbr></th>
                <th><abbr title="長打率-打率">IsoP</abbr></th>
                <th><abbr title="(本塁打*盗塁*2)/(本塁打+盗塁)">P-S</abbr></th>
            </tr>
        </thead>
        <tbody class="text-right">
            {% for ftr in fielder_total_results %}
            <tr>
                <th><a href="{% url 'eikan:player_detail' ftr.player_id.pk %}">{{ ftr.player_id }}</a></th>
                <td class="text-left">
                    {{ ftr.player_id.is_ob|yesno:"[OB]," }}
                    {{ ftr.player_id.is_active|yesno:"[現役]," }}
                    {{ ftr.player_id.is_genius|yesno:"[天才]," }}
                    {{ ftr.player_id.remark|default:"" }}
                </td>
                <td>{{ ftr.ops }}</td>
                <td>{{ ftr.slg }}</td>
                <td>{{ ftr.obp }}</td>
                <td>{{ ftr.br }}</td>
                <td>{{ ftr.woba }}</td>
                <td>{{ ftr.gpa }}</td>
                <td>{{ ftr.batting_average }}</td>
                <td>{{ ftr.at_bat }}</td>
                <td>{{ ftr.run }}</td>
                <td>{{ ftr.hit }}</td>
                <td>{{ ftr.two_base }}</td>
                <td>{{ ftr.three_base }}</td>
                <td>{{ ftr.home_run }}</td>
                <td>{{ ftr.run_batted_in }}</td>
                <td>{{ ftr.strike_out }}</td>
                <td>{{ ftr.bb_hbp }}</td>
                <td>{{ ftr.sacrifice_bunt }}</td>
                <td>{{ ftr.stolen_base }}</td>
                <td>{{ ftr.grounded_into_double_play }}</td>
                <td>{{ ftr.error }}</td>
                <td>{{ ftr.total_bases }}</td>
                <td>{{ ftr.bbhp_percent }}</td>
                <td>{{ ftr.isod }}</td>
                <td>{{ ftr.isop }}</td>
                <td>{{ ftr.bbhp_k }}</td>
                <td>{{ ftr.p_s }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "./_paginate.html" %}
{% else %}
    <div class="text-center">
        <h4>（登録データが）ないです</h4>
        <p><a href="{% url 'admin:eikan_players_add' %}">管理画面</a>からデータを登録してください。</p>
    </div>
{% endif %}
{% endblock %}