{% extends './_base.html' %}
{% block content %}
<hr class="mt-5">
<table class="table table-bordered table-hover table-sm text-nowrap">
    <thead class="thead-light text-center">
        <tr>
            <th>チーム</th>
            <th>大会</th>
            <th>勝敗</th>
            <th>スコア</th>
            <th>コールド</th>
            <th>マモノ</th>
            <th>ランク</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <td>{{ games.team_id }}</td>
            <td>{{ games.get_competition_type_display }}{{ games.get_competition_round_display|cut:"練習試合" }}</td>
            <td>{{ games.get_result_display }}</td>
            <td>{{ games.score }} - {{ games.run }}</td>
            <td>{% if games.is_cold_game %}
                コールド
            {% else %}
                -
            {% endif %}</td>
            <td>{{ games.mamono_count }}</td>
            <td>{{ games.get_rank_display }}</td>
        </tr>
    </tbody>
</table>

<hr class="mb-5">

    {# 打者試合成績(fielder_results) #}
    {% include "./_batter_record_for_game.html" with pg="games" %}

<hr>

    {# 投手試合成績(fielder_results) #}
    {% include "./_pitcher_record_for_game.html" with pg="games" %}

{% endblock %}