{% extends './_base.html' %}
{% block content %}
<hr class="mt-5">
<div class="row h4 text-nowrap">
    <div class="col text-right">チーム：</div>
    <div class="col">{{ games.team_id }}</div>
    <div class="col text-right">大会：</div>
    <div class="col">{{ games.get_competition_type_display }}{{ games.get_competition_round_display|cut:"練習試合" }}</div>
    <div class="col text-right">勝敗：</div>
    <div class="col">{{ games.get_result_display }}</div>
    <div class="col text-right">スコア：</div>
    <div class="col">{{ games.score }} - {{ games.run }}</div>
    <div class="col text-right">ランク：</div>
    <div class="col">{{ games.get_rank_display }}</div>
</div>
<hr class="mb-5">

    {# 打者試合成績(fielder_results) #}
    {% include "./_batter_record_for_game.html" %}

<hr>

    {# 投手試合成績(fielder_results) #}
    {% include "./_pitcher_record_for_game.html" %}

{% endblock %}