{% extends './_base.html' %}
{% block content %}
    <h3 class="mt-2">チーム成績</h3>
    {% if team_total_result %}
        <table class="table table-bordered table-hover table-sm table-responsive-lg text-nowrap">
            <thead class="thead-light text-center">
                <tr>
                    <th>年度:期間:地区</th>
                    <th>勝</th>
                    <th>負</th>
                    <th>分</th>
                    <th>得点</th>
                    <th>失点</th>
                    <th>得失</th>
                    <th>ランク</th>
                    <th>打率</th>
                    <th>OPS</th>
                    <th>HR</th>
                    <th>防御率</th>
                    <th>DER</th>
                    <th>備考</th>
                </tr>
            </thead>
            <tbody class="text-right">
                <tr>
                    <th class="text-center">{{ team_total_result.team_id }}</th>
                    <td>{{ team_total_result.total_win }}</td>
                    <td>{{ team_total_result.total_lose }}</td>
                    <td>{{ team_total_result.total_draw }}</td>
                    <td>{{ team_total_result.score }}</td>
                    <td>{{ team_total_result.run }}</td>
                    <td>{{ team_total_result.score_difference }}</td>
                    <td>{{ team_total_result.team_id.rank }}</td>
                    <td>{{ team_total_result.batting_average }}</td>
                    <td>{{ team_total_result.ops }}</td>
                    <td>{{ team_total_result.hr }}</td>
                    <td>{{ team_total_result.era }}</td>
                    <td>{{ team_total_result.der }}</td>
                    <td class="text-left">
                    {% if team_total_result.team_id.remark %}
                        {{ team_total_result.team_id.remark }}    
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h3 class="mt-2">打者成績</h3>
        <table class="table table-bordered table-hover table-sm table-responsive-lg text-nowrap">
            <thead class="thead-light text-center">
                <tr>
                    <th>Player</th>
                    <th>備考</th>
                    <th>OPS</th>
                    <th>SLG</th>
                    <th>AVG</th>
                    <th>OBP</th>
                    <th>GPA</th>
                    <th>AB</th>
                    <th>R</th>
                    <th>H</th>
                    <th>2B</th>
                    <th>3B</th>
                    <th>HR</th>
                    <th>RBI</th>
                    <th>SO</th>
                    <th>BB</th>
                    <th>SAC</th>
                    <th>SB</th>
                    <th>GDP</th>
                    <th>ER</th>
                    <th>TB</th>
                    <th>BB%</th>
                    <th>IsoD</th>
                    <th>IsoP</th>
                    <th>BB/K</th>
                    <th>P-S</th>
                </tr>
            </thead>
            <tbody class="text-right">
                {% for ftr in fielder_total_results %}
                <tr>
                    <th>{{ ftr.player_id }}</th>
                    <td class="text-left">
                        {% if ftr.player_id.is_ob %}
                            OB 
                        {% endif %} 
                        {% if ftr.player_id.is_active %}
                            現役 
                        {% endif %} 
                        {% if ftr.player_id.is_genius %}
                            天才 
                        {% endif %} 
                        {% if ftr.player_id.remark %}
                            {{ ftr.player_id.remark }}
                        {% endif %}
                    </td>
                    <td>{{ ftr.ops }}</td>
                    <td>{{ ftr.slg }}</td>
                    <td>{{ ftr.batting_average }}</td>
                    <td>{{ ftr.obp }}</td>
                    <td>{{ ftr.gpa }}</td>
                    <td>{{ ftr.at_bat }}</td>
                    <td>{{ ftr.run }}</td>
                    <td>{{ ftr.hit }}</td>
                    <td>{{ ftr.two_base }}</td>
                    <td>{{ ftr.three_base }}</td>
                    <td>{{ ftr.home_run }}</td>
                    <td>{{ ftr.run_batted_in }}</td>
                    <td>{{ ftr.strike_out }}</td>
                    <td>{{ ftr.bb_hbp }}</td>
                    <td>{{ ftr.sacrifice_bunt }}</td>
                    <td>{{ ftr.stolen_base }}</td>
                    <td>{{ ftr.grounded_into_double_play }}</td>
                    <td>{{ ftr.error }}</td>
                    <td>{{ ftr.total_bases }}</td>
                    <td>{{ ftr.bbhp_percent }}</td>
                    <td>{{ ftr.isod }}</td>
                    <td>{{ ftr.isop }}</td>
                    <td>{{ ftr.bbhp_k }}</td>
                    <td>{{ ftr.p_s }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <h3 class="mt-2">投手成績</h3>
        <table class="table table-bordered table-hover table-sm table-responsive-lg text-nowrap">
            <thead class="thead-light text-center">
                <tr>
                    <th>Player</th>
                    <th>備考</th>
                    <th>G</th>
                    <th>GS</th>
                    <th>PI</th>
                    <th>NP</th>
                    <th>TBF</th>
                    <th>H</th>
                    <th>SO</th>
                    <th>BBHP</th>
                    <th>R</th>
                    <th>ER</th>
                    <th>WP</th>
                    <th>HR</th>
                    <th>ERA</th>
                    <th>URA</th>
                    <th>WHIP</th>
                    <th>K/BB</th>
                    <th>k/9</th>
                    <th>K%</th>
                    <th>BB/9</th>
                    <th>BB%</th>
                    <th>HR/9</th>
                    <th>HR%</th>
                    <th>LOB%</th>
                    <th>P/IP</th>
                </tr>
            </thead>
            <tbody class="text-right">
                {% for ptr in pitcher_total_results %}
                <tr>
                    <th>{{ ptr.player_id }}</th>
                    <td class="text-center">
                        {% if ptr.player_id.is_ob %}
                            OB 
                        {% endif %} 
                        {% if ptr.player_id.is_active %}
                            現役 
                        {% endif %} 
                        {% if ptr.player_id.is_genius %}
                            天才 
                        {% endif %} 
                        {% if ptr.player_id.remark %}
                            {{ ptr.player_id.remark }}
                        {% endif %}
                    </td>
                    <td>{{ ptr.games }}</td>
                    <td>{{ ptr.games_started }}</td>
                    <td>{{ ptr.innings_pitched }}</td>
                    <td>{{ ptr.number_of_pitch }}</td>
                    <td>{{ ptr.total_batters_faced }}</td>
                    <td>{{ ptr.hit }}</td>
                    <td>{{ ptr.strike_out }}</td>
                    <td>{{ ptr.bb_hbp }}</td>
                    <td>{{ ptr.run }}</td>
                    <td>{{ ptr.earned_run }}</td>
                    <td>{{ ptr.wild_pitch }}</td>
                    <td>{{ ptr.home_run }}</td>
                    <td>{{ ptr.era }}</td>
                    <td>{{ ptr.ura }}</td>
                    <td>{{ ptr.whip }}</td>
                    <td>{{ ptr.k_bbhp }}</td>
                    <td>{{ ptr.k_9 }}</td>
                    <td>{{ ptr.k_percent }}</td>
                    <td>{{ ptr.bbhp_9 }}</td>
                    <td>{{ ptr.p_bbhp_percent }}</td>
                    <td>{{ ptr.hr_9 }}</td>
                    <td>{{ ptr.hr_percent }}</td>
                    <td>{{ ptr.lob_percent }}</td>
                    <td>{{ ptr.p_ip }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="text-center">
            <h4>（登録データが）ないです</h4>
            <p><a href="{% url 'admin:index' %}">管理画面</a>からデータを登録してください。</p>
        </div>
    {% endif %}

{% endblock %}