{% extends './_base.html' %}
{% block content %}
<hr class="mt-5">
<div class="row h4 text-nowrap">
    <div class="col text-right">名前：</div>
    <div class="col">{{ players.name }}</div>
    <div class="col text-right">入学年度：</div>
    <div class="col">{{ players.admission_year }}</div>
    <div class="col text-right">ポジション：</div>
    <div class="col">{{ players.get_position_display }}</div>
    <div class="col text-right">備考：</div>
    <div class="col">
        {% if players.is_ob %}
            【OB】 
        {% endif %} 
        {% if players.is_active %}
            【現役】 
        {% endif %} 
        {% if players.is_genius %}
            【天才】 
        {% endif %} 
        {% if players.remark %}
            {{ players.remark }}
        {% endif %}
    </div>
</div>
<hr class="mb-5">
{% if pitcher_total_results %}
    <h3 class="mt-2">投手成績</h3>
    <table class="table table-bordered table-hover table-sm table-responsive-lg text-nowrap">
        <thead class="thead-light text-center">
            <tr>
                <th>　</th>
                <th><abbr title="登板数">G</abbr></th>
                <th><abbr title="先発数">GS</abbr></th>
                <th><abbr title="投球回数">PI</abbr></th>
                <th><abbr title="投球数">NP</abbr></th>
                <th><abbr title="対戦打者">TBF</abbr></th>
                <th><abbr title="被安打">H</abbr></th>
                <th><abbr title="奪三振">SO</abbr></th>
                <th><abbr title="与四死球">BBHP</abbr></th>
                <th><abbr title="失点">R</abbr></th>
                <th><abbr title="自責点">ER</abbr></th>
                <th><abbr title="暴投">WP</abbr></th>
                <th><abbr title="被本塁打">HR</abbr></th>
                <th><abbr title="防御率：(自責点*9*3)/(投球回*3)">ERA</abbr></th>
                <th><abbr title="失点率：(失点*9*3)/(投球回*3)">URA</abbr></th>
                <th><abbr title="1イニングあたりに出した走者：(被安打+与四死球)*3/(投球回*3)">WHIP</abbr></th>
                <th><abbr title="1つ四球を出すまでにいくつ三振を取れるか：奪三振/与四死球">K/BB</abbr></th>
                <th><abbr title="奪三振率：(奪三振*9*3)/(投球回*3)">K/9</abbr></th>
                <th><abbr title="打者と対戦し奪三振を取る確率：奪三振/対戦打者">K%</abbr></th>
                <th><abbr title="与四死球率：(与四死球*9*3)/(投球回*3)">BB/9</abbr></th>
                <th><abbr title="打者と対戦し四死球を与える確率：四死球/対戦打者">BB%</abbr></th>
                <th><abbr title="被本塁打率：(被本塁打*9*3)/(投球回*3)">HR/9</abbr></th>
                <th><abbr title="打者と対戦し本塁打を与える確率：被本塁打/対戦打者">HR%</abbr></th>
                <th><abbr title="出塁した走者に得点を許さなかった割合：(安打+四死球-失点)/(安打+四死球-1.4*本塁打)">LOB%</abbr></th>
                <th><abbr title="1イニングあたりの投球数：(球数*3)/(投球回*3)">P/IP</abbr></th>
            </tr>
        </thead>
        <tbody class="text-right">
            <tr>
                <td>通算</td>
                <td>{{ pitcher_total_results.games }}</td>
                <td>{{ pitcher_total_results.games_started }}</td>
                <td>{{ pitcher_total_results.innings_pitched }}</td>
                <td>{{ pitcher_total_results.number_of_pitch }}</td>
                <td>{{ pitcher_total_results.total_batters_faced }}</td>
                <td>{{ pitcher_total_results.hit }}</td>
                <td>{{ pitcher_total_results.strike_out }}</td>
                <td>{{ pitcher_total_results.bb_hbp }}</td>
                <td>{{ pitcher_total_results.run }}</td>
                <td>{{ pitcher_total_results.earned_run }}</td>
                <td>{{ pitcher_total_results.wild_pitch }}</td>
                <td>{{ pitcher_total_results.home_run }}</td>
                <td>{{ pitcher_total_results.era }}</td>
                <td>{{ pitcher_total_results.ura }}</td>
                <td>{{ pitcher_total_results.whip }}</td>
                <td>{{ pitcher_total_results.k_bbhp }}</td>
                <td>{{ pitcher_total_results.k_9 }}</td>
                <td>{{ pitcher_total_results.k_percent }}</td>
                <td>{{ pitcher_total_results.bbhp_9 }}</td>
                <td>{{ pitcher_total_results.p_bbhp_percent }}</td>
                <td>{{ pitcher_total_results.hr_9 }}</td>
                <td>{{ pitcher_total_results.hr_percent }}</td>
                <td>{{ pitcher_total_results.lob_percent }}</td>
                <td>{{ pitcher_total_results.p_ip }}</td>
            </tr>
            <tr>
                <td>3年</td>
                <td>{{ pitcher_results_3.games|default:"0" }}</td>
                <td>{{ pitcher_results_3.games_started|default:"0" }}</td>
                <td>{{ pitcher_results_3.innings_pitched|default:"0" }}</td>
                <td>{{ pitcher_results_3.number_of_pitch|default:"0" }}</td>
                <td>{{ pitcher_results_3.total_batters_faced|default:"0" }}</td>
                <td>{{ pitcher_results_3.hit|default:"0" }}</td>
                <td>{{ pitcher_results_3.strike_out|default:"0" }}</td>
                <td>{{ pitcher_results_3.bb_hbp|default:"0" }}</td>
                <td>{{ pitcher_results_3.run|default:"0" }}</td>
                <td>{{ pitcher_results_3.earned_run|default:"0" }}</td>
                <td>{{ pitcher_results_3.wild_pitch|default:"0" }}</td>
                <td>{{ pitcher_results_3.home_run|default:"0" }}</td>
                <td>{{ pitcher_results_3.era|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_3.ura|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_3.whip|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_3.k_bbhp|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_3.k_9|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_3.k_percent|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_3.bbhp_9|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_3.p_bbhp_percent|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_3.hr_9|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_3.hr_percent|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_3.lob_percent|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_3.p_ip|floatformat:"3"|default:"0.00" }}</td>
            </tr>
            <tr>
                <td>2年</td>
                <td>{{ pitcher_results_2.games|default:"0" }}</td>
                <td>{{ pitcher_results_2.games_started|default:"0" }}</td>
                <td>{{ pitcher_results_2.innings_pitched|default:"0" }}</td>
                <td>{{ pitcher_results_2.number_of_pitch|default:"0" }}</td>
                <td>{{ pitcher_results_2.total_batters_faced|default:"0" }}</td>
                <td>{{ pitcher_results_2.hit|default:"0" }}</td>
                <td>{{ pitcher_results_2.strike_out|default:"0" }}</td>
                <td>{{ pitcher_results_2.bb_hbp|default:"0" }}</td>
                <td>{{ pitcher_results_2.run|default:"0" }}</td>
                <td>{{ pitcher_results_2.earned_run|default:"0" }}</td>
                <td>{{ pitcher_results_2.wild_pitch|default:"0" }}</td>
                <td>{{ pitcher_results_2.home_run|default:"0" }}</td>
                <td>{{ pitcher_results_2.era|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_2.ura|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_2.whip|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_2.k_bbhp|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_2.k_9|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_2.k_percent|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_2.bbhp_9|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_2.p_bbhp_percent|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_2.hr_9|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_2.hr_percent|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_2.lob_percent|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_2.p_ip|floatformat:"3"|default:"0.00" }}</td>
            </tr>
            <tr>
                <td>1年</td>
                <td>{{ pitcher_results_1.games|default:"0" }}</td>
                <td>{{ pitcher_results_1.games_started|default:"0" }}</td>
                <td>{{ pitcher_results_1.innings_pitched|default:"0" }}</td>
                <td>{{ pitcher_results_1.number_of_pitch|default:"0" }}</td>
                <td>{{ pitcher_results_1.total_batters_faced|default:"0" }}</td>
                <td>{{ pitcher_results_1.hit|default:"0" }}</td>
                <td>{{ pitcher_results_1.strike_out|default:"0" }}</td>
                <td>{{ pitcher_results_1.bb_hbp|default:"0" }}</td>
                <td>{{ pitcher_results_1.run|default:"0" }}</td>
                <td>{{ pitcher_results_1.earned_run|default:"0" }}</td>
                <td>{{ pitcher_results_1.wild_pitch|default:"0" }}</td>
                <td>{{ pitcher_results_1.home_run|default:"0" }}</td>
                <td>{{ pitcher_results_1.era|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_1.ura|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_1.whip|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_1.k_bbhp|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_1.k_9|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_1.k_percent|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_1.bbhp_9|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_1.p_bbhp_percent|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_1.hr_9|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_1.hr_percent|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_1.lob_percent|floatformat:"3"|default:"0.00" }}</td>
                <td>{{ pitcher_results_1.p_ip|floatformat:"3"|default:"0.00" }}</td>
            </tr>
        </tbody>
    </table>
    <hr class="mt-5 mb-5">
    <h3 class="mt-2">投手試合結果</h3>
    <table class="table table-bordered table-hover table-sm table-responsive-lg text-nowrap">
        <thead class="thead-light text-center">
            <tr>
                <th>チーム</th>
                <th>試合</th>
                <th><abbr title="先発数">GS</abbr></th>
                <th><abbr title="投球回数">PI</abbr></th>
                <th><abbr title="投球数">NP</abbr></th>
                <th><abbr title="対戦打者">TBF</abbr></th>
                <th><abbr title="被安打">H</abbr></th>
                <th><abbr title="奪三振">SO</abbr></th>
                <th><abbr title="与四死球">BBHP</abbr></th>
                <th><abbr title="失点">R</abbr></th>
                <th><abbr title="自責点">ER</abbr></th>
                <th><abbr title="暴投">WP</abbr></th>
                <th><abbr title="被本塁打">HR</abbr></th>
            </tr>
        </thead>
        <tbody class="text-right">
            {% for p in pitcher_results %}
            <tr>
                <td class="text-center">{{ p.game_id }}</td>
                <td class="text-center">{{ p.game_id.get_competition_type_display }}{{ p.game_id.get_competiton_round_display|cut:"練習試合"}}</td>
                <td class="text-center">
                {% if p.games_started %}
                    先発
                {% else %}
                    リリーフ
                {% endif %}
                </td>
                <td>{{ p.innings_pitched }}</td>
                <td>{{ p.number_of_pitch }}</td>
                <td>{{ p.total_batters_faced }}</td>
                <td>{{ p.hit }}</td>
                <td>{{ p.strike_out }}</td>
                <td>{{ p.bb_hbp }}</td>
                <td>{{ p.run }}</td>
                <td>{{ p.earned_run }}</td>
                <td>{{ p.wild_pitch }}</td>
                <td>{{ p.home_run }}</td>
            </tr>
            {% endfor %}           
        </tbody>
    </table>

<hr class="mt-5 mb-5">
{% endif %}
<h3 class="mt-2">打者成績</h3>
<table class="table table-bordered table-hover table-sm table-responsive-lg text-nowrap">
    <thead class="thead-light text-center">
        <tr>
            <th>　</th>
            <th><abbr title="打数">AB</abbr></th>
            <th><abbr title="得点">R</abbr></th>
            <th><abbr title="安打">H</abbr></th>
            <th><abbr title="二塁打">2B</abbr></th>
            <th><abbr title="三塁打">3B</abbr></th>
            <th><abbr title="本塁打">HR</abbr></th>
            <th><abbr title="打点">RBI</abbr></th>
            <th><abbr title="三振">SO</abbr></th>
            <th><abbr title="四死球">BB</abbr></th>
            <th><abbr title="犠打">SAC</abbr></th>
            <th><abbr title="盗塁">SB</abbr></th>
            <th><abbr title="併殺打">GDP</abbr></th>
            <th><abbr title="エラー">ER</abbr></th>
            <th><abbr title="塁打">TB</abbr></th>
            <th><abbr title="出塁率+長打率">OPS</abbr></th>
            <th><abbr title="長打率：塁打/打数">SLG</abbr></th>
            <th><abbr title="出塁率：(安打+四死球)/(打数+四死球)※犠飛を除外">OBP</abbr></th>
            <th><abbr title="(出塁率*1.8+長打率)/4">GPA</abbr></th>
            <th><abbr title="打率：安打/打数">AVG</abbr></th>
            <th><abbr title="1つ三振するまでに得た四死球：四死球/三振">BB/K</abbr></th>
            <th><abbr title="四死球取得率：四死球/(打数+四死球+犠打)※犠飛を除外">BB%</abbr></th>
            <th><abbr title="出塁率-打率">IsoD</abbr></th>
            <th><abbr title="長打率-打率">IsoP</abbr></th>
            <th><abbr title="(本塁打*盗塁*2)/(本塁打+盗塁)">P-S</abbr></th>
        </tr>
    </thead>
    <tbody class="text-right">
        <tr>
            <td>通算</td>
            <td>{{ fielder_total_results.at_bat }}</td>
            <td>{{ fielder_total_results.run }}</td>
            <td>{{ fielder_total_results.hit }}</td>
            <td>{{ fielder_total_results.two_base }}</td>
            <td>{{ fielder_total_results.three_base }}</td>
            <td>{{ fielder_total_results.home_run }}</td>
            <td>{{ fielder_total_results.run_batted_in }}</td>
            <td>{{ fielder_total_results.strike_out }}</td>
            <td>{{ fielder_total_results.bb_hbp }}</td>
            <td>{{ fielder_total_results.sacrifice_bunt }}</td>
            <td>{{ fielder_total_results.stolen_base }}</td>
            <td>{{ fielder_total_results.grounded_into_double_play }}</td>
            <td>{{ fielder_total_results.error }}</td>
            <td>{{ fielder_total_results.total_bases }}</td>
            <td>{{ fielder_total_results.ops }}</td>
            <td>{{ fielder_total_results.slg }}</td>
            <td>{{ fielder_total_results.obp }}</td>
            <td>{{ fielder_total_results.gpa }}</td>
            <td>{{ fielder_total_results.batting_average }}</td>
            <td>{{ fielder_total_results.bbhp_k }}</td>
            <td>{{ fielder_total_results.bbhp_percent }}</td>
            <td>{{ fielder_total_results.isod }}</td>
            <td>{{ fielder_total_results.isop }}</td>
            <td>{{ fielder_total_results.p_s }}</td>
        </tr>
        <tr>
            <td>3年</td>
            <td>{{ fielder_results_3.at_bat|default:"0" }}</td>
            <td>{{ fielder_results_3.run|default:"0" }}</td>
            <td>{{ fielder_results_3.hit|default:"0" }}</td>
            <td>{{ fielder_results_3.two_base|default:"0" }}</td>
            <td>{{ fielder_results_3.three_base|default:"0" }}</td>
            <td>{{ fielder_results_3.home_run|default:"0" }}</td>
            <td>{{ fielder_results_3.run_batted_in|default:"0" }}</td>
            <td>{{ fielder_results_3.strike_out|default:"0" }}</td>
            <td>{{ fielder_results_3.bb_hbp|default:"0" }}</td>
            <td>{{ fielder_results_3.sacrifice_bunt|default:"0" }}</td>
            <td>{{ fielder_results_3.stolen_base|default:"0" }}</td>
            <td>{{ fielder_results_3.grounded_into_double_play|default:"0" }}</td>
            <td>{{ fielder_results_3.error|default:"0" }}</td>
            <td>{{ fielder_results_3.total_bases|default:"0" }}</td>
            <td>{{ fielder_results_3.ops|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_3.slg|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_3.obp|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_3.gpa|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_3.batting_average|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_3.bbhp_k|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_3.bbhp_percent|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_3.isod|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_3.isop|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_3.p_s|floatformat:"3"|default:"0.000" }}</td>
        </tr>
        <tr>
            <td>2年</td>
            <td>{{ fielder_results_2.at_bat|default:"0" }}</td>
            <td>{{ fielder_results_2.run|default:"0" }}</td>
            <td>{{ fielder_results_2.hit|default:"0" }}</td>
            <td>{{ fielder_results_2.two_base|default:"0" }}</td>
            <td>{{ fielder_results_2.three_base|default:"0" }}</td>
            <td>{{ fielder_results_2.home_run|default:"0" }}</td>
            <td>{{ fielder_results_2.run_batted_in|default:"0" }}</td>
            <td>{{ fielder_results_2.strike_out|default:"0" }}</td>
            <td>{{ fielder_results_2.bb_hbp|default:"0" }}</td>
            <td>{{ fielder_results_2.sacrifice_bunt|default:"0" }}</td>
            <td>{{ fielder_results_2.stolen_base|default:"0" }}</td>
            <td>{{ fielder_results_2.grounded_into_double_play|default:"0" }}</td>
            <td>{{ fielder_results_2.error|default:"0" }}</td>
            <td>{{ fielder_results_2.total_bases|default:"0" }}</td>
            <td>{{ fielder_results_2.ops|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_2.slg|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_2.obp|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_2.gpa|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_2.batting_average|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_2.bbhp_k|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_2.bbhp_percent|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_2.isod|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_2.isop|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_2.p_s|floatformat:"3"|default:"0.000" }}</td>
        </tr>
        <tr>
            <td>1年</td>
            <td>{{ fielder_results_1.at_bat|default:"0" }}</td>
            <td>{{ fielder_results_1.run|default:"0" }}</td>
            <td>{{ fielder_results_1.hit|default:"0" }}</td>
            <td>{{ fielder_results_1.two_base|default:"0" }}</td>
            <td>{{ fielder_results_1.three_base|default:"0" }}</td>
            <td>{{ fielder_results_1.home_run|default:"0" }}</td>
            <td>{{ fielder_results_1.run_batted_in|default:"0" }}</td>
            <td>{{ fielder_results_1.strike_out|default:"0" }}</td>
            <td>{{ fielder_results_1.bb_hbp|default:"0" }}</td>
            <td>{{ fielder_results_1.sacrifice_bunt|default:"0" }}</td>
            <td>{{ fielder_results_1.stolen_base|default:"0" }}</td>
            <td>{{ fielder_results_1.grounded_into_double_play|default:"0" }}</td>
            <td>{{ fielder_results_1.error|default:"0" }}</td>
            <td>{{ fielder_results_1.total_bases|default:"0" }}</td>
            <td>{{ fielder_results_1.ops|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_1.slg|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_1.obp|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_1.gpa|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_1.batting_average|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_1.bbhp_k|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_1.bbhp_percent|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_1.isod|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_1.isop|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_results_1.p_s|floatformat:"3"|default:"0.000" }}</td>
        </tr>
    </tbody>
</table>
<hr class="mt-5 mb-5">
<h3 class="mt-2">打者試合結果</h3>
<table class="table table-bordered table-hover table-sm table-responsive-lg text-nowrap">
    <thead class="thead-light text-center">
        <tr>
            <th>チーム</th>
            <th>試合</th>
            <th><abbr title="打数">AB</abbr></th>
            <th><abbr title="得点">R</abbr></th>
            <th><abbr title="安打">H</abbr></th>
            <th><abbr title="二塁打">2B</abbr></th>
            <th><abbr title="三塁打">3B</abbr></th>
            <th><abbr title="本塁打">HR</abbr></th>
            <th><abbr title="打点">RBI</abbr></th>
            <th><abbr title="三振">SO</abbr></th>
            <th><abbr title="四死球">BB</abbr></th>
            <th><abbr title="犠打">SAC</abbr></th>
            <th><abbr title="盗塁">SB</abbr></th>
            <th><abbr title="併殺打">GDP</abbr></th>
            <th><abbr title="エラー">ER</abbr></th>
        </tr>
    </thead>
    <tbody class="text-right">
        {% for f in fielder_results %}
        <tr>
            <td class="text-center">{{ f.game_id }}</td>
            <td class="text-center">{{ f.game_id.get_competition_type_display }}{{ f.game_id.get_competiton_round_display|cut:"練習試合"}}</td>
            <td>{{ f.at_bat }}</td>
            <td>{{ f.run }}</td>
            <td>{{ f.hit }}</td>
            <td>{{ f.two_base }}</td>
            <td>{{ f.three_base }}</td>
            <td>{{ f.home_run }}</td>
            <td>{{ f.run_batted_in }}</td>
            <td>{{ f.strike_out }}</td>
            <td>{{ f.bb_hbp }}</td>
            <td>{{ f.sacrifice_bunt }}</td>
            <td>{{ f.stolen_base }}</td>
            <td>{{ f.grounded_into_double_play }}</td>
            <td>{{ f.error }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr class="mt-5 mb-5">
{% endblock %}