{% extends './_base.html' %}
{% block content %}
<hr class="mt-5">
<div class="row h4 text-nowrap">
    <div class="col text-right">名前：</div>
    <div class="col">{{ players.name }}</div>
    <div class="col text-right">入学年度：</div>
    <div class="col">{{ players.admission_year }}</div>
    <div class="col text-right">ポジション：</div>
    <div class="col">{{ players.get_position_display }}</div>
    <div class="col text-right">備考：</div>
    <div class="col">
        {% if players.is_ob %}
            【OB】 
        {% endif %} 
        {% if players.is_active %}
            【現役】 
        {% endif %} 
        {% if players.is_genius %}
            【天才】 
        {% endif %} 
        {% if players.remark %}
            {{ players.remark }}
        {% endif %}
    </div>
</div>
<hr class="mb-5">
{% if pitcher_total_results %}
    <h3 class="mt-2">投手成績</h3>
    <table class="table table-bordered table-hover table-sm table-responsive-lg text-nowrap">
        <thead class="thead-light text-center">
            <tr>
                <th>　</th>
                <th><abbr title="登板数">G</abbr></th>
                <th><abbr title="先発数">GS</abbr></th>
                <th><abbr title="投球回数">PI</abbr></th>
                <th><abbr title="投球数">NP</abbr></th>
                <th><abbr title="対戦打者">TBF</abbr></th>
                <th><abbr title="被安打">H</abbr></th>
                <th><abbr title="奪三振">SO</abbr></th>
                <th><abbr title="与四死球">BBHP</abbr></th>
                <th><abbr title="失点">R</abbr></th>
                <th><abbr title="自責点">ER</abbr></th>
                <th><abbr title="暴投">WP</abbr></th>
                <th><abbr title="被本塁打">HR</abbr></th>
                <th><abbr title="防御率：(自責点*9*3)/(投球回*3)">ERA</abbr></th>
                <th><abbr title="失点率：(失点*9*3)/(投球回*3)">URA</abbr></th>
                <th><abbr title="1イニングあたりに出した走者：(被安打+与四死球)*3/(投球回*3)">WHIP</abbr></th>
                <th><abbr title="1つ四球を出すまでにいくつ三振を取れるか：奪三振/与四死球">K/BB</abbr></th>
                <th><abbr title="奪三振率：(奪三振*9*3)/(投球回*3)">K/9</abbr></th>
                <th><abbr title="打者と対戦し奪三振を取る確率：奪三振/対戦打者">K%</abbr></th>
                <th><abbr title="与四死球率：(与四死球*9*3)/(投球回*3)">BB/9</abbr></th>
                <th><abbr title="打者と対戦し四死球を与える確率：四死球/対戦打者">BB%</abbr></th>
                <th><abbr title="被本塁打率：(被本塁打*9*3)/(投球回*3)">HR/9</abbr></th>
                <th><abbr title="打者と対戦し本塁打を与える確率：被本塁打/対戦打者">HR%</abbr></th>
                <th><abbr title="出塁した走者に得点を許さなかった割合：(安打+四死球-失点)/(安打+四死球-1.4*本塁打)">LOB%</abbr></th>
                <th><abbr title="1イニングあたりの投球数：(球数*3)/(投球回*3)">P/IP</abbr></th>
            </tr>
        </thead>
        <tbody class="text-right">
            <tr>
                <td>通算</td>
                <td>{{ pitcher_total_results.games }}</td>
                <td>{{ pitcher_total_results.games_started }}</td>
                <td>{{ pitcher_total_results.innings_pitched }}</td>
                <td>{{ pitcher_total_results.number_of_pitch }}</td>
                <td>{{ pitcher_total_results.total_batters_faced }}</td>
                <td>{{ pitcher_total_results.hit }}</td>
                <td>{{ pitcher_total_results.strike_out }}</td>
                <td>{{ pitcher_total_results.bb_hbp }}</td>
                <td>{{ pitcher_total_results.run }}</td>
                <td>{{ pitcher_total_results.earned_run }}</td>
                <td>{{ pitcher_total_results.wild_pitch }}</td>
                <td>{{ pitcher_total_results.home_run }}</td>
                <td>{{ pitcher_total_results.era }}</td>
                <td>{{ pitcher_total_results.ura }}</td>
                <td>{{ pitcher_total_results.whip }}</td>
                <td>{{ pitcher_total_results.k_bbhp }}</td>
                <td>{{ pitcher_total_results.k_9 }}</td>
                <td>{{ pitcher_total_results.k_percent }}</td>
                <td>{{ pitcher_total_results.bbhp_9 }}</td>
                <td>{{ pitcher_total_results.p_bbhp_percent }}</td>
                <td>{{ pitcher_total_results.hr_9 }}</td>
                <td>{{ pitcher_total_results.hr_percent }}</td>
                <td>{{ pitcher_total_results.lob_percent }}</td>
                <td>{{ pitcher_total_results.p_ip }}</td>
            </tr>
            {% for pitcher_result in pitcher_by_year_results %}
                <tr>
                    <td>
                    {% if players.admission_year == pitcher_result.year %}
                    1年
                    {% elif players.admission_year|add:1 == pitcher_result.year %}
                    2年
                    {% else %}
                    3年
                    {% endif %}
                    :{{ pitcher_result.year }}
                    </td>
                    <td>{{ pitcher_result.games|default:"0" }}</td>
                    <td>{{ pitcher_result.games_started|default:"0" }}</td>
                    <td>{{ pitcher_result.innings_pitched|default:"0" }}</td>
                    <td>{{ pitcher_result.number_of_pitch|default:"0" }}</td>
                    <td>{{ pitcher_result.total_batters_faced|default:"0" }}</td>
                    <td>{{ pitcher_result.hit|default:"0" }}</td>
                    <td>{{ pitcher_result.strike_out|default:"0" }}</td>
                    <td>{{ pitcher_result.bb_hbp|default:"0" }}</td>
                    <td>{{ pitcher_result.run|default:"0" }}</td>
                    <td>{{ pitcher_result.earned_run|default:"0" }}</td>
                    <td>{{ pitcher_result.wild_pitch|default:"0" }}</td>
                    <td>{{ pitcher_result.home_run|default:"0" }}</td>
                    <td>{{ pitcher_result.era|floatformat:"2"|default:"0.00" }}</td>
                    <td>{{ pitcher_result.ura|floatformat:"2"|default:"0.00" }}</td>
                    <td>{{ pitcher_result.whip|floatformat:"2"|default:"0.00" }}</td>
                    <td>{{ pitcher_result.k_bbhp|floatformat:"2"|default:"0.00" }}</td>
                    <td>{{ pitcher_result.k_9|floatformat:"2"|default:"0.00" }}</td>
                    <td>{{ pitcher_result.k_percent|floatformat:"2"|default:"0.00" }}</td>
                    <td>{{ pitcher_result.bbhp_9|floatformat:"2"|default:"0.00" }}</td>
                    <td>{{ pitcher_result.p_bbhp_percent|floatformat:"2"|default:"0.00" }}</td>
                    <td>{{ pitcher_result.hr_9|floatformat:"2"|default:"0.00" }}</td>
                    <td>{{ pitcher_result.hr_percent|floatformat:"2"|default:"0.00" }}</td>
                    <td>{{ pitcher_result.lob_percent|floatformat:"2"|default:"0.00" }}</td>
                    <td>{{ pitcher_result.p_ip|floatformat:"2"|default:"0.00" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr class="mt-5 mb-5">
    <h3 class="mt-2">投手試合結果</h3>
    <table class="table table-bordered table-hover table-sm table-responsive-lg text-nowrap">
        <thead class="thead-light text-center">
            <tr>
                <th>チーム</th>
                <th>試合</th>
                <th><abbr title="先発数">GS</abbr></th>
                <th><abbr title="投球回数">PI</abbr></th>
                <th><abbr title="投球数">NP</abbr></th>
                <th><abbr title="対戦打者">TBF</abbr></th>
                <th><abbr title="被安打">H</abbr></th>
                <th><abbr title="奪三振">SO</abbr></th>
                <th><abbr title="与四死球">BBHP</abbr></th>
                <th><abbr title="失点">R</abbr></th>
                <th><abbr title="自責点">ER</abbr></th>
                <th><abbr title="暴投">WP</abbr></th>
                <th><abbr title="被本塁打">HR</abbr></th>
            </tr>
        </thead>
        <tbody class="text-right">
            {% for p in pitcher_results %}
            <tr>
                <td class="text-center"><a href="{% url 'eikan:team_detail' p.game_id.team_id.pk %}">{{ p.game_id }}</a></td>
                <td class="text-center"><a href="{% url 'eikan:game_detail' p.game_id.pk %}">{{ p.game_id.get_competition_type_display }}{{ p.game_id.get_competiton_round_display|cut:"練習試合"}}</a></td>
                <td class="text-center">
                {% if p.games_started %}
                    先発
                {% else %}
                    リリーフ
                {% endif %}
                </td>
                <td>{{ p.innings_pitched }}</td>
                <td>{{ p.number_of_pitch }}</td>
                <td>{{ p.total_batters_faced }}</td>
                <td>{{ p.hit }}</td>
                <td>{{ p.strike_out }}</td>
                <td>{{ p.bb_hbp }}</td>
                <td>{{ p.run }}</td>
                <td>{{ p.earned_run }}</td>
                <td>{{ p.wild_pitch }}</td>
                <td>{{ p.home_run }}</td>
            </tr>
            {% empty %}
            <tr>
                <td class="text-center">データなし</td> 
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>        
            </tr>
            {% endfor %}           
        </tbody>
    </table>

<hr class="mt-5 mb-5">
{% endif %}
<h3 class="mt-2">打者成績</h3>
<table class="table table-bordered table-hover table-sm table-responsive-lg text-nowrap">
    <thead class="thead-light text-center">
        <tr>
            <th>　</th>
            <th><abbr title="打数">AB</abbr></th>
            <th><abbr title="得点">R</abbr></th>
            <th><abbr title="安打">H</abbr></th>
            <th><abbr title="二塁打">2B</abbr></th>
            <th><abbr title="三塁打">3B</abbr></th>
            <th><abbr title="本塁打">HR</abbr></th>
            <th><abbr title="打点">RBI</abbr></th>
            <th><abbr title="三振">SO</abbr></th>
            <th><abbr title="四死球">BB</abbr></th>
            <th><abbr title="犠打">SAC</abbr></th>
            <th><abbr title="盗塁">SB</abbr></th>
            <th><abbr title="併殺打">GDP</abbr></th>
            <th><abbr title="エラー">ER</abbr></th>
            <th><abbr title="塁打">TB</abbr></th>
            <th><abbr title="出塁率+長打率">OPS</abbr></th>
            <th><abbr title="長打率：塁打/打数">SLG</abbr></th>
            <th><abbr title="出塁率：(安打+四死球)/(打数+四死球)※犠飛を除外">OBP</abbr></th>
            <th><abbr title="打撃得点：0.44*(安打-二塁打-三塁打-本塁打)+0.77*二塁打+1.12*三塁打+1.41*本塁打+0.29*四死球-0.25*(打数-安打)※盗塁を除外">BR</abbr></th>
            <th><abbr title="加重出塁率：(0.7*四死球+0.9*単打+1.3*二塁打+1.6*三塁打+2.0*本塁打)/(打数+四死球)※犠飛を除外">wOBA</abbr></th>
            <th><abbr title="(出塁率*1.8+長打率)/4">GPA</abbr></th>
            <th><abbr title="打率：安打/打数">AVG</abbr></th>
            <th><abbr title="1つ三振するまでに得た四死球：四死球/三振">BB/K</abbr></th>
            <th><abbr title="四死球取得率：四死球/(打数+四死球+犠打)※犠飛を除外">BB%</abbr></th>
            <th><abbr title="出塁率-打率">IsoD</abbr></th>
            <th><abbr title="長打率-打率">IsoP</abbr></th>
            <th><abbr title="(本塁打*盗塁*2)/(本塁打+盗塁)">P-S</abbr></th>
        </tr>
    </thead>
    <tbody class="text-right">
        <tr>
            <td>通算</td>
            <td>{{ fielder_total_results.at_bat }}</td>
            <td>{{ fielder_total_results.run }}</td>
            <td>{{ fielder_total_results.hit }}</td>
            <td>{{ fielder_total_results.two_base }}</td>
            <td>{{ fielder_total_results.three_base }}</td>
            <td>{{ fielder_total_results.home_run }}</td>
            <td>{{ fielder_total_results.run_batted_in }}</td>
            <td>{{ fielder_total_results.strike_out }}</td>
            <td>{{ fielder_total_results.bb_hbp }}</td>
            <td>{{ fielder_total_results.sacrifice_bunt }}</td>
            <td>{{ fielder_total_results.stolen_base }}</td>
            <td>{{ fielder_total_results.grounded_into_double_play }}</td>
            <td>{{ fielder_total_results.error }}</td>
            <td>{{ fielder_total_results.total_bases }}</td>
            <td>{{ fielder_total_results.ops }}</td>
            <td>{{ fielder_total_results.slg }}</td>
            <td>{{ fielder_total_results.obp }}</td>
            <td>{{ fielder_total_results.br }}</td>
            <td>{{ fielder_total_results.woba }}</td>
            <td>{{ fielder_total_results.gpa }}</td>
            <td>{{ fielder_total_results.batting_average }}</td>
            <td>{{ fielder_total_results.bbhp_k }}</td>
            <td>{{ fielder_total_results.bbhp_percent }}</td>
            <td>{{ fielder_total_results.isod }}</td>
            <td>{{ fielder_total_results.isop }}</td>
            <td>{{ fielder_total_results.p_s }}</td>
        </tr>
        {% for fielder_result in fielder_by_year_results %}
        <tr>
            <td>
            {% if players.admission_year == fielder_result.year %}
            1年
            {% elif players.admission_year|add:1 == fielder_result.year %}
            2年
            {% else %}
            3年
            {% endif %}
            :{{ fielder_result.year }}
            </td>
            <td>{{ fielder_result.at_bat|default:"0" }}</td>
            <td>{{ fielder_result.run|default:"0" }}</td>
            <td>{{ fielder_result.hit|default:"0" }}</td>
            <td>{{ fielder_result.two_base|default:"0" }}</td>
            <td>{{ fielder_result.three_base|default:"0" }}</td>
            <td>{{ fielder_result.home_run|default:"0" }}</td>
            <td>{{ fielder_result.run_batted_in|default:"0" }}</td>
            <td>{{ fielder_result.strike_out|default:"0" }}</td>
            <td>{{ fielder_result.bb_hbp|default:"0" }}</td>
            <td>{{ fielder_result.sacrifice_bunt|default:"0" }}</td>
            <td>{{ fielder_result.stolen_base|default:"0" }}</td>
            <td>{{ fielder_result.grounded_into_double_play|default:"0" }}</td>
            <td>{{ fielder_result.error|default:"0" }}</td>
            <td>{{ fielder_result.total_bases|default:"0" }}</td>
            <td>{{ fielder_result.ops|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_result.slg|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_result.obp|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_result.br|floatformat:"1"|default:"0.0" }}</td>
            <td>{{ fielder_result.woba|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_result.gpa|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_result.batting_average|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_result.bbhp_k|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_result.bbhp_percent|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_result.isod|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_result.isop|floatformat:"3"|default:"0.000" }}</td>
            <td>{{ fielder_result.p_s|floatformat:"3"|default:"0.000" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr class="mt-5 mb-5">
<h3 class="mt-2">打者試合結果</h3>
<table class="table table-bordered table-hover table-sm table-responsive-lg text-nowrap">
    <thead class="thead-light text-center">
        <tr>
            <th>チーム</th>
            <th>試合</th>
            <th><abbr title="打数">AB</abbr></th>
            <th><abbr title="得点">R</abbr></th>
            <th><abbr title="安打">H</abbr></th>
            <th><abbr title="二塁打">2B</abbr></th>
            <th><abbr title="三塁打">3B</abbr></th>
            <th><abbr title="本塁打">HR</abbr></th>
            <th><abbr title="打点">RBI</abbr></th>
            <th><abbr title="三振">SO</abbr></th>
            <th><abbr title="四死球">BB</abbr></th>
            <th><abbr title="犠打">SAC</abbr></th>
            <th><abbr title="盗塁">SB</abbr></th>
            <th><abbr title="併殺打">GDP</abbr></th>
            <th><abbr title="エラー">ER</abbr></th>
        </tr>
    </thead>
    <tbody class="text-right">
        {% for f in fielder_results %}
        <tr>
            <td class="text-center"><a href="{% url 'eikan:team_detail' f.game_id.team_id.pk %}">{{ f.game_id }}</a></td>
            <td class="text-center"><a href="{% url 'eikan:game_detail' f.game_id.pk %}">{{ f.game_id.get_competition_type_display }}{{ f.game_id.get_competiton_round_display|cut:"練習試合"}}</a></td>
            <td>{{ f.at_bat }}</td>
            <td>{{ f.run }}</td>
            <td>{{ f.hit }}</td>
            <td>{{ f.two_base }}</td>
            <td>{{ f.three_base }}</td>
            <td>{{ f.home_run }}</td>
            <td>{{ f.run_batted_in }}</td>
            <td>{{ f.strike_out }}</td>
            <td>{{ f.bb_hbp }}</td>
            <td>{{ f.sacrifice_bunt }}</td>
            <td>{{ f.stolen_base }}</td>
            <td>{{ f.grounded_into_double_play }}</td>
            <td>{{ f.error }}</td>
        </tr>
        {% empty %}
        <tr>
            <td class="text-center">データなし</td> 
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>
            <td class="text-center">-</td>          
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr class="mt-5 mb-5">
{% endblock %}