{% extends './_base.html' %}
{% block content %}
<hr class="mt-5">
<div class="row h4 text-nowrap">
    <div class="col">年度：{{ teams.year }}年</div>
    <div class="col">期間：{{ teams.get_period_display }}</div>
    <div class="col">地区：{{ teams.get_prefecture_display }}</div>
    <div class="col">方針：{{ teams.get_training_policy_display }}</div>
    <div class="col">指名：{{ teams.draft_nomination }}人</div>
    <div class="col">戦績：
        {% if game_latest.competition_type != "県大会" and game_latest.get_competition_round_display == "決勝" and game_latest.get_result_display == "勝" %}
            {{ game_latest.get_competition_type_display}}優勝
        {% else %}
            {{ game_latest.get_competition_type_display|default:"なし" }}{{ game_latest.get_competition_round_display }}
        {% endif %}
    </div>
    <div class="col">備考：{{ players.remark|default:"" }}</div>
</div>
<hr class="mb-5">

{# チーム成績(team_total_result) #}
{% include "./_team_record.html" %}

<hr class="mt-5 mb-5">

{# 試合結果(games) #}
{% include "./_game_result.html" with pg="team" %}

<hr class="mt-5 mb-5">
{% if fielder_total_results %}
    {# 打者成績(fielder_total_results) #}
    {% include "./_batter_record.html" %}
<hr>
    {# 投手成績(pitcher_total_results pg="team") #}
    {% include "./_pitcher_record.html" with pg="team" %}
{% else %}
    <div class="text-center">
        <h4>(登録データが)ないです</h4>
        <p><a href="{% url 'admin:index' %}">管理画面</a>からデータを登録してください。</p>
    </div>
{% endif %}
{% endblock %}