{% extends './_base.html' %}
{% block content %}
<hr class="mt-5">

{# チーム成績(team_total_result) #}
{% include "./_team_record.html" with pg="team" %}

<hr class="mt-5 mb-5">

{# 試合結果(games) #}
{% include "./_game_result.html" with pg="team" %}

<hr class="mt-5 mb-5">
{% if fielder_total_results %}
    {# 打者成績(fielder_total_results) #}
    {% include "./_batter_record.html" %}
<hr>
    {# 投手成績(pitcher_total_results pg="team") #}
    {% include "./_pitcher_record.html" with pg="team" %}
{% else %}
    <div class="text-center">
        <h4>(登録データが)ないです</h4>
        <p><a href="{% url 'admin:index' %}">管理画面</a>からデータを登録してください。</p>
    </div>
{% endif %}
{% endblock %}